.weather {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid rgb(186, 185, 185);
  border-radius: 6px;
  padding: 16px;
  margin: 30px auto;
  color: rgb(98, 98, 98);
}

.weather form {
  margin-bottom: 20px;
}

.weather ul {
  margin: 0;
  padding: 0;
}
.weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.weather a {
  text-decoration: none;
}

.weather h1 {
  font-size: 24px;
  font-weight: 100px;
  line-height: 1;
  margin: 20px 0 0 0;
  color: black;
}

.weather .temperature {
  font-weight: bold;
  color: black;
  font-size: 64px;
  font-weight: 400;
  line-height: 10px;
  margin-left: 22px;
  line-height: 50px;
}

.weather .unit {
  color: black;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
